{% extends 'layout.html' %}

{% block title %}Loan-Pay{% endblock %}

{% block content %}

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"> Create a new Loan-Pay </h3>
        </div>
        <div class="panel-body">
            <form method="post">

                <div class="form-group">
                    <label>Client_ID</label>
                    <input type="text" class="form-control" placeholder="Client_ID" name="Client_ID" required>
                </div>
                <div id="error_client_id"></div>
                <script>
                    const error_client_id_html = "<div class=\"alert alert-danger alert-dismissible\" role=\"alert\">\n" +
                        "            <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span\n" +
                        "                    aria-hidden=\"true\">&times;</span></button>\n" +
                        "            <strong>error_client_id!</strong> {{error_client_id}} " +
                        "        </div>";
                    const error_client_id = '{{error_client_id}}';
                    if (error_client_id)
                        document.getElementById('error_client_id').innerHTML = error_client_id_html;
                </script>

                <div class="form-group">
                    <label>Loan_ID</label>
                    <input type="text" class="form-control" placeholder="Loan_ID" name="Loan_ID" required>
                </div>
                <div id="error_loan_id"></div>
                <script>
                    const error_loan_id_html = "<div class=\"alert alert-danger alert-dismissible\" role=\"alert\">\n" +
                        "            <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span\n" +
                        "                    aria-hidden=\"true\">&times;</span></button>\n" +
                        "            <strong>error_loan_id!</strong> {{error_loan_id}} " +
                        "        </div>";
                    const error_loan_id = '{{error_loan_id}}';
                    if (error_loan_id)
                        document.getElementById('error_loan_id').innerHTML = error_loan_id_html;
                </script>

                <div class="form-group">
                    <label>Pay_ID</label>
                    <input type="text" class="form-control" placeholder="Pay_ID" name="Pay_ID" required>
                </div>
                <div id="error_pay_id"></div>
                <script>
                    const error_pay_id_html = "<div class=\"alert alert-danger alert-dismissible\" role=\"alert\">\n" +
                        "            <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span\n" +
                        "                    aria-hidden=\"true\">&times;</span></button>\n" +
                        "            <strong>error_pay_id!</strong> {{error_pay_id}} " +
                        "        </div>";
                    const error_pay_id = '{{error_pay_id}}';
                    if (error_pay_id)
                        document.getElementById('error_pay_id').innerHTML = error_pay_id_html;
                </script>

                <div id="error"></div>
                <script>
                    const error_html = "<div class=\"alert alert-danger alert-dismissible\" role=\"alert\">\n" +
                        "            <button type=\"button\" class=\"close\" data-dismiss=\"alert\" aria-label=\"Close\"><span\n" +
                        "                    aria-hidden=\"true\">&times;</span></button>\n" +
                        "            <strong>Error!</strong> {{error}} " +
                        "        </div>";
                    const error = '{{error}}';
                    if (error)
                        document.getElementById('error').innerHTML = error_html;
                </script>

                <div class="form-group">
                    <label>Pay_Amount</label>
                    <input type="text" class="form-control" placeholder="Pay_Amount" name="Pay_Amount" required>
                </div>

                <div class="form-group">
                    <label>Pay_Date</label>
                    <input type="date" class="form-control" placeholder="Pay_Date" name="Pay_Date">
                </div>

                <button type="submit" class="btn btn-success">submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}